.main-container {
  max-width: 700px;
  margin: 0 auto;
  width: 90%;
  border: 1px solid #fff;
  padding: 1.5rem;
}

section + section {
  margin-top: 2rem;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.small-margin {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.top-margin {
  margin-top: 1rem;
}

.underlined-title {
  border-bottom: 1px dashed #888;
  padding-bottom: 0.25rem;
  margin-bottom: 0.75rem;
  display: inline-block;
  margin-top: 0;
}

.about-me h1 {
  text-transform: lowercase;
}

.about-me h3 {
  color: #ccc;
  text-transform: lowercase;
}

.projects h3,
.sections h3 {
}

.projects h3::before {
  content: "* ";
  color: #888;
}

.sections h3::before {
  content: "* ";
  color: #888;
}
