.main-container {
  max-width: 700px;
  margin: 0 auto;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1.5rem;
  margin-top: 2rem;
  position: relative;
  z-index: 2;
  background-color: #222;
}

hr.separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.small-margin {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.top-margin {
  margin-top: 1rem;
}

.underlined-title {
  border-bottom: 1px dashed #888;
  padding-bottom: 0.25rem;
  margin-bottom: 0.75rem;
  display: inline-block;
  margin-top: 0;
}

.underlined-title::before {
  content: "# ";
  color: #888;
}

.about-me h1 {
  text-transform: lowercase;
}

.about-me h3 {
  color: #ccc;
  text-transform: lowercase;
}

.projects h3,
.sections h3 {
}

.projects h3::before {
  content: "> ";
  color: #888;
}

.sections h3::before {
  content: "> ";
  color: #888;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
